*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

main {
    background: lightblue;
    height: 100%;
    width: 100%;
}


/* Other features come above this one. */
.wrapper-for-user {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.wrapper-for-user form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
}